.sign__button {
	margin: 0;
	padding: 0;
	width: 250px;
	height: 50px;
	border: none;
	border-radius: 3%;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05);
		background-color: #40e0d0;
	}
}
